<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货人姓名</string>
				<key>rightTitle</key>
				<string>收货人</string>
			</dict>
			<dict>
				<key>id</key>
				<string>11</string>
				<key>title</key>
				<string>电话号码</string>
				<key>rightTitle</key>
				<string>0102208099</string>
			</dict>
			<dict>
				<key>id</key>
				<string>12</string>
				<key>title</key>
				<string>省份城市</string>
				<key>rightTitle</key>
				<string>北京市朝阳区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>13</string>
				<key>title</key>
				<string>详细地址</string>
				<key>rightTitle</key>
				<string>东外门街2号</string>
			</dict>
			<dict>
				<key>id</key>
				<string>14</string>
				<key>title</key>
				<string>邮政编码</string>
				<key>rightTitle</key>
				<string>100020</string>
			</dict>
		</array>
		<key>id</key>
		<string>0</string>
	</dict>
</array>
</plist>
