<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货地址</string>
			</dict>
		</array>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货地址</string>
			</dict>
		</array>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货地址</string>
			</dict>
		</array>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货地址</string>
			</dict>
		</array>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货地址</string>
			</dict>
		</array>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货地址</string>
			</dict>
		</array>
		<key>id</key>
		<string>6</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货地址</string>
			</dict>
		</array>
		<key>id</key>
		<string>7</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货地址</string>
			</dict>
		</array>
		<key>id</key>
		<string>8</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>收货地址</string>
			</dict>
		</array>
		<key>id</key>
		<string>9</string>
	</dict>
</array>
</plist>
