<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>title</key>
				<string>头像</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>11</string>
				<key>title</key>
				<string>用户名</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>12</string>
				<key>title</key>
				<string>昵称</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>13</string>
				<key>title</key>
				<string>已绑手机号</string>
				<key>labeltext</key>
				<string>2.0MB</string>
			</dict>
			<dict>
				<key>id</key>
				<string>14</string>
				<key>title</key>
				<string>支付密码</string>
				<key>labeltext</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>15</string>
				<key>title</key>
				<string>登录密码</string>
				<key>labeltext</key>
				<string></string>
			</dict>
		</array>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>datas</key>
		<array>
			<dict>
				<key>id</key>
				<string>21</string>
				<key>title</key>
				<string>性别</string>
				<key>labeltext</key>
				<string>请选择</string>
			</dict>
			<dict>
				<key>id</key>
				<string>22</string>
				<key>title</key>
				<string>生日</string>
				<key>labeltext</key>
				<string>请选择</string>
			</dict>
			<dict>
				<key>id</key>
				<string>23</string>
				<key>title</key>
				<string>收货地址</string>
				<key>labeltext</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>24</string>
				<key>title</key>
				<string>我的二维码</string>
				<key>labeltext</key>
				<string></string>
			</dict>
		</array>
		<key>id</key>
		<string>1</string>
	</dict>
</array>
</plist>
